/* 
    General Styles
*/
.home {
   background-image: url('https://st4.depositphotos.com/8127772/38124/v/600/depositphotos_381243200-stock-illustration-star-sky-space-stars-background.jpg');
}


.width-img{
    width: 100px;
}

.dropdown-menu[data-bs-popper] {
    left: -2px;
}

.logo {
    width: 150px;
    margin-left: 100px;
}

.favorites {
    margin-right: 70px;
}

.img-left {
    width: 350px;
    height: 350px;
    margin-left: 0px;
    margin-top: 15px;
}


.tittle-bottom {
    border-top: 1px solid rgb(220, 143, 29);
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
}
.jumbotron {
    background-image: url('https://st4.depositphotos.com/8127772/38124/v/600/depositphotos_381243200-stock-illustration-star-sky-space-stars-background.jpg');

}

